textures/* filter=lfs diff=lfs merge=lfs -text
sponza-matgroups.obj filter=lfs diff=lfs merge=lfs -text
textures/sponza_curtain_diff.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_details_spec.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_thorn_mask.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_column_b_diff.png filter=lfs diff=lfs merge=lfs -text
textures/vase_dif.png filter=lfs diff=lfs merge=lfs -text
textures/vase_round_bump.png filter=lfs diff=lfs merge=lfs -text
textures/lion2_bump.png filter=lfs diff=lfs merge=lfs -text
textures/spnza_bricks_a_diff.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_fabric_blue_diff.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_arch_bump.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_curtain_green_diff.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_flagpole_diff.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_roof_diff.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_thorn_bump.png filter=lfs diff=lfs merge=lfs -text
textures/spnza_bricks_a_bump.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_ceiling_a_spec.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_column_b_spec.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_fabric_spec.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_arch_diff.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_column_b_bump.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_column_c_bump.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_fabric_diff.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_fabric_green_diff.png filter=lfs diff=lfs merge=lfs -text
textures/background_bump.png filter=lfs diff=lfs merge=lfs -text
textures/chain_texture_bump.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_thorn_spec.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_column_a_diff.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_column_a_spec.png filter=lfs diff=lfs merge=lfs -text
textures/vase_round_spec.png filter=lfs diff=lfs merge=lfs -text
textures/chain_texture.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_column_a_bump.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_column_c_diff.png filter=lfs diff=lfs merge=lfs -text
textures/vase_plant_mask.png filter=lfs diff=lfs merge=lfs -text
textures/vase_plant_spec.png filter=lfs diff=lfs merge=lfs -text
textures/floor_gloss.png filter=lfs diff=lfs merge=lfs -text
textures/lion.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_floor_a_spec.png filter=lfs diff=lfs merge=lfs -text
textures/vase_bump.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_arch_spec.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_column_c_spec.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_thorn_diff.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_curtain_blue_diff.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_fabric_purple.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_flagpole_spec.png filter=lfs diff=lfs merge=lfs -text
textures/background.png filter=lfs diff=lfs merge=lfs -text
textures/vase_plant.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_ceiling_a_diff.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_floor_a_diff.png filter=lfs diff=lfs merge=lfs -text
textures/vase_round.png filter=lfs diff=lfs merge=lfs -text
textures/chain_texture_mask.png filter=lfs diff=lfs merge=lfs -text
textures/spnza_bricks_a_spec.png filter=lfs diff=lfs merge=lfs -text
textures/lion_bump.png filter=lfs diff=lfs merge=lfs -text
textures/vase_hanging.png filter=lfs diff=lfs merge=lfs -text
textures/sponza_details_diff.png filter=lfs diff=lfs merge=lfs -text
hairball.obj filter=lfs diff=lfs merge=lfs -text
